* {
    margin: 0;
    padding: 0;
    color: #CF570C;
}

body {
    background-color: rgba(41, 41, 40, 0.98);
}

a {
    border-radius: 5px;
}

a:active {
    width: 100%;
    padding: 10px 5px;
    background-color: #CF570C;
    color: #fff;
    border-radius: 5px;
}

.nav-link {
    color: #CF570C;
}

.nav-link:active{
    color: #fff;
}

.btn {
    background-color: #CF570C;
    color: #fff;
}

.navbar-brand {
    color:#CF570C;
}

.navbar {
    background-color: rgba(41, 41, 40, 1);
}

.navbar-toggler, .navbar-toggler.navbar-toggler-icon{
    background-color: #CF570C;
    color: transparent;
}