body{
    margin: 0;
    padding: 0;
    background-color: #292928;
}

form {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid #CF570C;
    text-align: center;
}

label {
    color: #CF570C;
    font-size: 14pt;
    padding: 5px 0;
}

input {
    border: none;
    border-radius: 5px;
}

.button-brav {
    background-color: #CF570C;
    color: #fff;
    font-size: 14pt;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 10px;
}

#sidebar {
    width: 200px;
    height: 100vh;
    position: fixed;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}